<h1>MySql Todo List</h1>

<form>
    <input type='text' id="mainInput" placeholder="Add todo" />
    <button>Submit</button>
</form>

<ul>
    {{#each todos}}
        <li id={{ id }}>
            {{ description }}:
            {{ completed }}
            <button class="delete" >Delete {{ id }}</button>
            <button class="completed">Mark {{ id }} Completed</button>
            <button class="update_desc">Update {{ id }} description</button>
            <input type="text" class="updateInput" />
        </li>
        
    {{/each}}
</ul>